<form id="core-form-details-form">
	<div class="search-criteria row">
		<h3>Create New Form</h3>
		<div class="col-md-6">
			<div class="longname-input"></div>
			<div class="preferred-definition-input"></div>
			<div class="protocol-longname-input"></div>
			<div class="classification-input"></div>
			<div class="header-instructions-input"></div>
			<div class="footer-instructions-input"></div>

		</div>
		<div class="col-md-6">
			<div class="workflows-dropdown"></div>
			<div class="contexts-dropdown"></div>
			<div class="categories-dropdown"></div>
			<div class="types-dropdown"></div>
			<div class="version"></div>
		</div>
	</div>
	<div class="button-group">
		<input type="submit" id="create-form-submit-button" value="Create Form"/>
	</div>
</form>
