* text=auto !eol
FormBuilder/pom.xml -text
FormBuilder/src/main/java/gov/nih/nci/cadsr/FormBuilderConstants.java -text
FormBuilder/src/main/java/gov/nih/nci/cadsr/FormBuilderProperties.java -text
FormBuilder/src/main/resources/applicationContext.xml -text
FormBuilder/src/main/webapp/WEB-INF/web.xml -text
FormBuilder/src/main/webapp/index.jsp -text
FormService/pom.xml -text
FormService/src/main/webapp/WEB-INF/web.xml -text
