<div id="search-form-wrapper">
	<div class="search-preferences">
	</div>
	<div class="search-criteria">
		<div class="form-control">
			<label for="">Form Long Name</label>
			<input type="text" />
		</div>
		<div class="form-control">
			<label for="">Public ID</label>
			<input type="text" />
		</div>
		<div class="form-control">
			<label for="">Protocol Long Name</label>
			<input type="text" />
		</div>
		<div class="form-control">
			<label for="">CS/CSI (Classification)</label>
			<input type="text" />
		</div>
		<div class="form-control">
			<label for="">Public ID</label>
			<input type="text" />
		</div>

	</div>
	<div class="button-group">
		<button type="button" id="search-button">Submit</button>
	</div>
</div>