.module{
  width: 100%;
  position: relative;
  //float: left;
  margin-top: 5px;
  margin-left: 0px;
  background-color: $color-base;
  h4{
    margin-top:10px;
  }
  .toolbar-button {
  	margin-top: 10px;
  }
}
.module-wrap{
  width: 100%;
  padding: 10px;
}
.validValueStaticWidth {
	text-transform: uppercase;
	display: inline-block;
	width: 17em;
	font-weight: normal;
}