.search-title{
  float: left;
  font-size: 24px;
  margin-top: 0px;
}
.search-subtitle{
  font-size: 20px;
}
.create-new-form-button{
  float: right;
  text-transform: uppercase;
}
#search{
  .panel-divider{
    margin-right: 15px;
    margin-left: 0px;
  }
  .panel{
    min-height: 400px;
  }
  .btn-link{
    color: $color-accent-bright;
    &:hover{
      background-color:transparent;
      color: $color-accent-bright;
    }
  }
}
.search-left{
  float: left;
  width: 30%;
}
.search-middle{
  float: right;
  padding-left: 10px;
  width: 70%;
  .search-subtitle{
    float: left;
  }

}
.search-desc-wrap{
  float: right;
  padding-right: 20px;
}
.search-desc:first-of-type{
  margin-bottom: 21px;
}