<h3> Search Preferences </h3>
<form class="search-preferences-form">
	<div class="form-group">
		<label for="TEST">Exclude "Test" Context</label> <input type="checkbox" name="TEST" <%= TEST ? "checked" : "" %>  />
	</div>
	<div class="form-group">
		<label for="TRAINING">Exclude "Training" Context</label> <input type="checkbox" name="TRAINING" <%= TRAINING ? "checked" : "" %> />
	</div>
	<div class="button-group">
		<button type="submit" id="save-preferences-button">Save</button>
	</div>
</form>