<div id="search-form-wrapper">
	<div class="search-preferences">
	</div>
	<form class="search-preferences-form">
		<div class="form-group">
			<label for="">Exclude "Test" Context</label>
			<input type="checkbox" name="<%- excludeTestContext %>" />
		</div>
		<div class="form-group">
			<label for="">Exclude "Training" Context</label>
			<input type="checkbox" name="<%- excludeTrainingContext %>" />
		</div>

		<div class="button-group">
			<button type="button" id="search-button">Submit</button>
		</div>
	</form>

</div>