
nav{
  background-color: $color-highlight;
  display: block;
  margin-bottom: 20px;
  height: 135px;
}
.navbar-header{
  height: 100px;
  display: inline-block;
  width: 100%;
  .application-logo{
    position: relative;
    display:block;
    top: 25%;
    margin-left: 130px;
  }
}
.navbar-subheader{
  display: inline-block;
  color: $color-highlight;
  height: 35px;
  width: 100%;
  background-color: $color-brand;
  ul{
    list-style: none;
    float: right;
    li{
      display: inline-block;
      margin-top: 6px;
      font-size: 16px;
      margin-right: 132px;
      @media(max-width: 1028px){
        margin-right: 60px;
      }
    }
  }
}

.app-nav .container{
  width: 100%;
  padding: 0px;
}


/* Dimensions should be width: 182px; height: 45px;*/
.application-logo {
  width: 182px;
  height: 45px;
  display: inline-block;

  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 700;
  &:hover, &:active, &:focus, &:visited {
    color: #FFFFFF;
    text-decoration: none;
  }
  &.logo-image {
    background: transparent url(../images/nci-logo-full.svg) no-repeat;
    color: transparent;
    background-size: contain;
    width: 525px;
    font-size: inherit;
    font-weight: 700;
    &:hover, &:focus {
      background-color: transparent !important;
    }
  }
}

