@import "global-colors-mixins";

.bordered {
  @include standard-border;
}

/* ------- BEGIN Text Containers  --------------- */
.bordered-container {
  @include standard-border;
  padding: 15px;
  #{$allHeadingSelectors} {
    @include normalizedLineHeight;
    margin-top: 5px;
  }
  @media (max-width: 992px) {
    margin-bottom: 20px;
  }
  &:not(.full-height-img) {
    &.fill-blue {
      background-color: $dfBlue;
    }
    &.fill-light-grey {
      background-color: $lightGrey;
    }
    &.fill-dark-grey {
      background-color: $darkGrey;
    }
    &.fill-blue, &.fill-dark-grey {
      a, p, ul, li, label, #{$allHeadingSelectors}  {
        color: #ffffff !important;
      }
    }
  }
}
/* ------- End Text Containers  --------------- */

