<footer class="footer_mc">
	<div class="_footer ">
		<div class="container-fluid banner">
			<div class="container">
				
			</div>
		</div>
		<!-- START Main Footer Navigation -->
		<div class="_footer_menu_mc">
			<div class="container">
				<div class="_footer_menu">
					<div class="_footer_menubar">
						<div class="_footer_menu_item">
							<a class="footer_link" href="/FormBuilder/#carts/cdecart">CDE Cart</a>
						</div>
						<div class="_footer_menu_item">
							<a class="footer_link" href="/FormBuilder/#carts/modulecart">Module Cart</a>
						</div>
						<div class="_footer_menu_item">
							<a class="footer_link" href="/FormBuilder/#carts/formcart">Form Cart</a>
						</div>
					</div>
					<div class="_footer_menubar">
						<div class="_footer_menu_item">
							Admin Tool
						</div>
						<div class="_footer_menu_item">
							Curation Tool
						</div>
						<div class="_footer_menu_item">
							Sentinel Tool
						</div>
					</div>
					<div class="_footer_menubar">
						<div class="_footer_menu_item">
							NCI Metathesaurus
						</div>
						<div class="_footer_menu_item">
							NCI Terminology <br/> Server
						</div>
						<div class="_footer_menu_item">
							CDE Browser
						</div>
					</div>
					<div class="_footer_menubar">
						<div class="_footer_menu_item">
							Help
						</div>
						<div class="_footer_menu_item">
							Feedback
						</div>
						<div class="_footer_menu_item">
							Contact Us
						</div>
					</div>
					<div class="_footer_menubar">
						<div class="_footer_menu_item">
							About
						</div>
						<div class="_footer_menu_item">
							Privacy Policy
						</div>
						<div class="_footer_menu_item">
							Versions 5.0.0
						</div>
					</div>
				</div>
			</div>
		</div><!-- END Main Footer Navigation -->
	</div>
</footer>